  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
  <script type="text/javascript" src="/js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="/js/js.js"></script>
  <script type="text/javascript" src="/js/grayscale.js"></script>
  <script id="tpl" type="text/x-handlebars-template">
  {% raw  %}
  <table class="table">
    <thead>
      <tr>
        <th>Domeinua</th>
        <th colspan="2">Libre</th>
      </tr>
    </thead>
    <tbody>{{#each this}}
      <tr>
        <td>{{@key}}</td>
        <td>
        {{#if this}}
          Libre da
        {{else}}
          Ez da libre
        {{/if}}
        </td>
        <td>
          {{#if this}}
            <a href="https://www.gandi.net/domain/suggest" taget="_blank" role="button" 
              class="btn btn-xs btn-block btn-primary">Orain eskuratu</a>
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {% endraw %}
</script>
