<nav role="navigation" class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-min-collapse" class="navbar-toggle"><i class="fa fa-bars"></i></button><a href="#page-top" class="navbar-brand page-scroll"><i class="fa fa-play-circle"></i><span class="light">&nbsp;PUNTTU.</span>COM</a>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden"><a href="#page-top"></a></li>
        <li><a href="#aurkitu" class="page-scroll">Domeinu bat aurkitu</a></li>
        <li><a href="#nolaerosi" class="page-scroll">Domeinuei buruz</a></li>
        <li><a href="#honiburuz" class="page-scroll">Honi buruz</a></li>
      </ul>
    </div>
  </div>
</nav>